/* CSS básico para o layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, .linha {
    max-width: 100%;
}

:root {
    --cor-padrao: #00324f;
    --cor-padrao-hover: rgb(243, 243, 243);
    --cor-font: #fff;
    --cor-font-p: #555;
    --cor-btn: #00324f;
    --cor-btn-hover: #000;
    --cor-btn-font: #000;
    --cor-font-corpo: #555;
    --cor-font-corpo-leve: #777;
}

body {
    font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00324f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 999;
}

.navbar .logo img {
    max-width: 120px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.menu-hamburger {
    display: none;
    font-size: 1.8em;
    color: white;
    cursor: pointer;
}

/* Menu Dropdown Mobile oculto por padrão */
.nav-links {
    display: flex;
    flex-direction: row;
}

.navbar.open .nav-links {
    display: flex;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #00324f;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        width: 100%;
        padding: 15px 0; /* Aumenta o espaçamento interno vertical */
        margin: 5px 0;   /* Adiciona espaçamento entre os itens */
    }

    .menu-hamburger {
        display: block;
    }

    .navbar.open .nav-links {
        display: flex;
    }
}


/* Estilo das redes sociais flutuantes */
.social-links {
    position: fixed;
    bottom: 20px; /* Distância da parte inferior */
    right: 20px; /* Distância da direita */
    z-index: 1000; /* Garante que fica sobre outros elementos */
  
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento maior entre os ícones */
}
  

  

/*Footer*/
footer {
    background-color: #00324f;
    color: #ffffff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    text-align: justify;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-about, .footer-links, .footer-contact {
    flex: 1;
    margin: 20px;
}

.footer-about h3, .footer-links h3, .footer-contact h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #f0a500;
}

.footer-about p, .footer-contact p {
    line-height: 1.6;
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #f0a500;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #00324f;
    color: #fff;
}

.footer-bottom p {
    margin: 0;
    color: #fff;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-about, .footer-links, .footer-contact {
        margin-bottom: 30px;
    }
}

/* Estilo das redes sociais flutuantes */
.social-links {
    position: fixed;
    bottom: 20px; /* Distância da parte inferior */
    right: 20px; /* Distância da direita */
    z-index: 1000; /* Garante que fica sobre outros elementos */
  
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento maior entre os ícones */
}
  
/*Icones mídias social*/
.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
/* Cor específica para cada rede social */
.social-links a.whatsapp { background-color: #25D366; }
.social-links a.email { background-color: #D44638; }
.social-links a.instagram { background-color: #E4405F; }
  
/* Aumenta levemente o tamanho ao passar o mouse */
.social-links a:hover {
    transform: scale(1.1); /* Efeito de aumento */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}
  
/* Ajuste de alinhamento do botão */
.btnsent {
    align-items: center;
}


/* Estilos principais */
.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 60px; /* Para evitar sobreposição do menu */
}

.col-2 {
    flex-basis: 45%;
    min-width: 300px;
    text-align: left;
}

.col-2 img {
    max-width: 100%;
    padding: 20px 0;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.col-2 h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 25px 0;
    animation: growText 0.8s ease-out;
}

@keyframes growText {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

/* Ajustes para mobile */
@media (max-width: 768px) {
    .linha {
        flex-direction: column; /* Empilha os elementos verticalmente */
        padding-top: 80px; /* Garante que o menu não sobreponha */
    }

    .col-2 {
        flex-basis: 100%;
        text-align: center; /* Centraliza o conteúdo no mobile */
    }

    .col-2 h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .col-2 img {
        padding: 10px 0;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}



.categorias {
    margin: 50px 0;
    background-color: #f9f9f9;
    padding: 20px 0;
}

.corpo-categorias {
    max-width: 1080px;
    margin: auto;
    text-align: center;
}

.col-3 {
    flex-basis: 40%;
    margin: 15px;
    background-color: white;
    padding: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.col-3 img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.col-3 h3 {
    margin: 10px 0;
    font-size: 18px;
}

.col-3 p {
    font-size: 14px;
    color: var(--cor-font-p);
    margin: 10px 0;
}

.col-3:hover{
    transform: scale(1.1);

}
.titulo{
    position: relative;
    line-height: 60px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-font-corpo);

}

.titulo::after{
    content:'';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.classificacao ion-icon{
    color: #FFA500;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.carousel {
    width: 100%;
    overflow: hidden;
    background-color: #f0f0f0; /* Cor de fundo para o carrossel */
    padding: 10px 0;
    position: relative;
}

.carousel-track {
    display: flex;
    gap: 50px; /* Espaçamento entre as marcas */
    animation: scroll 60s linear infinite; /* Define a animação contínua */
    white-space: nowrap; /* Impede que o texto quebre */
}

.brand {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap; /* Impede que o texto quebre */
    color: #333; /* Cor do texto */
    padding: 5px 10px;
    width: 200px;
    height: 150px;
    padding: 10px 5px;
}

.brand img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%);
    }
}

/* Configurações para o carrossel */
.carousel-img {
    width: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
    padding: 20px 0;
    position: relative;
}

.carousel-track-img {
    display: flex;
    gap: 30px;
    animation: scroll 40s linear infinite;
    white-space: nowrap;
}

.brand-img {
    flex: 0 0 auto; /* Garante que os itens não encolham */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.brand-img img {
    width: 100%; /* Mantém a largura completa do contêiner pai */
    max-width: 400px; /* No desktop, a imagem não ficará maior que 400px */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Animação contínua */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .carousel-track-img {
        gap: 20px; /* Reduz o espaçamento no mobile */
    }

    .brand-img img {
        max-width: 300px; /* Ajusta para um tamanho médio no mobile */
    }
}

@media screen and (max-width: 480px) {
    .carousel-track-img {
        gap: 10px; /* Diminui ainda mais o espaçamento para telas menores */
    }

    .brand-img img {
        max-width: 250px; /* Limita o tamanho no mobile */
    }
}



.container-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Para permitir que os blocos se reorganizem em telas menores */
    margin-top: 50px;
}

.block {
    background-color: #e9f5ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 20px;
}

.icon {
    width: 80px;
    height: 80px;
}

h3 {
    font-weight: normal;
    color: var(--cor-font-corpo);
}

p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .container-2 {
        flex-direction: column; /* Coloca os blocos em uma única coluna */
        align-items: center; /* Centraliza os blocos verticalmente */
    }

    .block {
        width: 90%; /* Aumenta a largura dos blocos para preencher mais a tela no mobile */
        margin: 10px 0; /* Ajusta o espaçamento entre os blocos */
    }
}


  /* Adicione essa regra no seu arquivo CSS */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
.block {
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(30px); /* Inicialmente deslocado para baixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
  .block.visible {
    opacity: 1; /* Torna o bloco visível */
    transform: translateY(0); /* Move o bloco para a posição original */
  }


h2 {
    text-align: center;
    color: #444;
    font-weight: 300;
    margin-bottom: 40px;
}

.faq-container {
    max-width: 1000px;
    margin: 0 auto;
}

.faq-question {
    background-color: #fff;
    color: #333;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 20px;
    font-weight: 400;
}

.faq-answer {
    display: none;
    padding: 15px 20px;
    background-color: #f1f1f1;
    border-left: 4px solid #007bff;
    border-radius: 0 8px 8px 8px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #555;
}

.faq-question:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-question.active {
    background-color: #007bff;
    color: #fff;
}

.faq-question.active + .faq-answer {
    display: block;
}

.gallery {
    display: flex;
    justify-content: space-between; /* Distribui as imagens igualmente */
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 300px; /* Altura fixa da galeria */
    padding: 0 20px; /* Espaço nas laterais */
}

.gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 2s ease-in-out; /* Transição suave */
    position: absolute;
    top: 0; /* Mantém as imagens alinhadas verticalmente */
}

.gallery img.active-left {
    left: 0; /* Imagem à esquerda */
    opacity: 1; /* Imagem visível */
}

.gallery img.active-center {
    left: 50%; /* Imagem ao centro */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    opacity: 1;
}

.gallery img.active-right {
    right: 0; /* Imagem à direita */
    opacity: 1; /* Imagem visível */
}

.header-message {
    background: linear-gradient(135deg, #00509e, #003366); /* Degradê azul mais escuro */
    padding: 20px 0;
    text-align: center;
}

.header-message h1 {
    font-size: 2.5rem;
    color: #fff;
    margin: 0;
    padding: 20px;
}

section{
    margin-left: 200px;
    margin-right: 200px;
}

#contactForm input, #contactForm textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
#contactForm button {
    padding: 10px 20px;
    background: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body {
    overflow-x: hidden; /* Isso já está no código */
}

.carousel, .linha, .container-2, .gallery {
    overflow-x: hidden;
    width: 100%;
}

/* Também verifique os elementos filhos dentro dessas classes */
